@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-slate-950;
}

.header {
  @apply m-4 p-4 bg-slate-800 rounded-lg flex flex-row-reverse;
}

.main-card {
  @apply bg-slate-800 py-10 rounded-lg;

  h2 {
    @apply text-4xl font-bold tracking-tight text-white sm:text-6xl underline;
  }

  p {
    @apply mt-6 text-lg leading-8 text-gray-300;
  }

  > div {
    @apply mx-auto max-w-7xl px-6 lg:px-8;

    > div {
      @apply mx-auto max-w-2xl lg:mx-0;
    }
  }
}